body{
    font-family: 'Merriweather', serif;
    margin: 0px;
    padding: 0;
    color: #666;
}

/* Global Styles */
section{
    margin-bottom: 100px;
}

header{
    background-color: crimson;
    color: white;
    position: sticky;
    top: 0;
}

h1{
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 5%;
    line-height: 150%;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
    line-height: 40px;
}

nav{
    margin-left: 20%;
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: inline-block;
    padding: 0px 20px;
}

span{
    color: crimson;
}

input,textarea{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid crimson;
    border-radius: 5px;
    font-size: 20px;
}

input[type=submit]{
    width: 20%;
    color: white;
    background-color: crimson;
}

input[type=submit]:hover{
  color: crimson;
  background-color: white;
}

form{
    padding-top: 2%;
}

footer{
   background-color: #0A0D16; 
   color: white;
   text-align: center;
   padding: 1.5%;
    margin-bottom: -10%;
}

/* My Classes */

.flex{
    display: flex;
}

.half-width{
    width: 50%;
}

.ml{
    margin-left: 2%;
}


.mt{
    margin-top: 50px;
}

.pl{
    padding-left: 5%;
}

.img{
    width: 60%;
    padding-left: 150px;
}

.btn{
    background-image: linear-gradient(orange, crimson);
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 5%;
}

.recipes{
    text-align: center;
}

.recipes-item-container{
    display: flex;
    width: 80%;
    margin-left: 13%;
}

.recipes-item-width{
    width: 30%;
    padding: 1%;
    margin-right: 5%;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #ddd;
}

.recipes-item-width h3{
    text-align: left;
    font-size: 20px;
}

.recipes-item-width p{
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
}

.recipes-item-img{
    width: 100%;
    border-radius: 20px;
}

.box-shadow{
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #ddd;
    width: 76%;
    margin-left: 13%;
}

.social-width{
    width: 20%;
    text-align: center;
    margin-left: 10%;
}

.social-width h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

.social-width p{
    font-size: 18px;
    margin-top: 0;
}

.contact{
    height: 700px;
    text-align: center;
}




/* My Id */

#bold{
    font-weight: bold;
}

#bg{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-position: left;
    background-size: cover;
    padding-top: 5%;
}

#center{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

/* Code for coloring placeholder text */

::placeholder {
    color: crimson;
    opacity: .3;
}

/* responsive navbar */
@media screen and (max-width: 600px) {
    nav{
        margin-left: 10%;
        margin-top: 25px;
    }
}



